{% extends 'base.html' %}

{% block conteudo %}
<div class="d-flex flex-column gap-4">
    {% if gatos %}
        {% for gato in gatos %}
            <!-- Breed Card 1: Abyssinian -->
            <article class="breed-card">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="breed-img-container h-100">
                    <img alt="Abyssinian Cat" class="breed-img"
                         src="{{ gato.image }}"/>
                </div>
            </div>
            <div class="col-md-8 p-4 p-lg-5">
                <div class="d-flex justify-content-between align-items-start mb-3">
                    <div>
                        <h2 class="h3 mb-1">{{ gato.name }}</h2>
                        <div class="text-secondary small d-flex align-items-center">
                            <span class="material-symbols-outlined me-1" style="font-size: 16px;"></span>
                            Origin: {{ gato.origin }}
                        </div>
                    </div>
                    <span class="lifespan-badge font-weight-medium">Life Span: {{ gato.life_span }}</span>
                </div>
                <div class="d-flex flex-wrap gap-2 mb-4">
                    {% for temperamento in gato.temperament %}
                    <span class="badge-custom bg-pastel-blue">{{ temperamento }}</span>
                    {% endfor %}
                </div>
                <p class="text-secondary mb-5">
                    Description: {{ gato.description }}
                </p>
                <div class="text-end mt-auto">
                    <a class="btn btn-outline-primary-custom text-decoration-none"
                       href="https://en.wikipedia.org/wiki/Abyssinian_cat" target="_blank">More Info</a>
                </div>
            </div>
        </div>
    </article>
        {% endfor %}
    {% else %}
    <h3>Nenhum gato</h3>
    {% endif %}
</div>
{% endblock %}