{% extends 'base.html' %}

{% block conteudo %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-error px-3">
    <!-- Passo 4: Percorrer a lista de mensagens -->
    {% for category, message in messages %}
    <!-- Passo 5: Criar um card filho -->
    <div class="alert {{ category }} alert-dismissible fade show px-5" role="alert">
        <strong>{{ message }}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<h1>Login</h1>

<div class="login d-flex justify-content-center align-items-center">
    <div class="card_login card">
        <form id="form-login" class="form d-flex flex-column justify-content-center align-items-center" action="{{url_for('login')}}"
              method="post">

            Email:
            <input id="input-email" placeholder="Digite o email" name="form-email" class="form-control">

            Senha:
            <input id="input-senha"  placeholder="Digite a senha" type="password" name="form-senha" class="form-control">

            <button type="submit" class="btn btn-success">Entrar</button>
            <a class="btn btn-danger" onclick="limpaInputsLogin()">Cancelar</a>
            <br>
        </form>
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Não tem conta? Registre-se
            </button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-modal" action="{{ url_for('cadastro_funcionario') }}" method="post">

                    <label>
                        <input id="input-nome" placeholder="Digite o nome" name="form-nome" class="form-control">
                    </label>
                    <label>
                        <input id="input-nascimento" placeholder="Digite a data de nascimento" name="form-nascimento" type="date" class="form-control">
                    </label>
                    <label>
                        <input id="input-cpf" placeholder="Digite o CPF" name="form-cpf" class="form-control">
                    </label>
                    <label>
                        <input id="input-email2" placeholder="Digite o email" name="form-email" class="form-control">
                    </label>
                    <label>
                        <input id="input-senha2" placeholder="Digite o senha" name="form-senha" class="form-control">
                    </label>
                    <label>
                        <input id="input-cargo" placeholder="Digite o cargo" name="form-cargo" class="form-control">
                    </label>
                    <label>
                        <input id="input-salario" placeholder="Digite o salário" name="form-salario" class="form-control">
                    </label>


                    <button type="submit" class="btn btn-info">Cadastrar</button>
                    <a class="btn btn-danger" onclick="limpaInputsModal()">Cancelar</a>
                </form>
            </div>
        </div>

        <div class="modal-footer">
            <button href="{{ url_for('home') }}" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Fechar
            </button>
        </div>
    </div>
</div>

{% endblock conteudo %}